{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todo/styles.css' %}">
    <title>Todo Woo</title>
</head>
<body>
    

{% if user.is_authenticated %}

    <div class="menu">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'createtodo' %}">Create</a></li>
            <li><a href="{% url 'currenttodos' %}">Current</a></li>
            <li><a href="{% url 'completedtodos' %}">Completed</a></li>
        </ul>   

        <div class="access">
            Logged In as {{ user.username }}

            <form action="{% url 'logoutuser' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        </div>

    </div>

{% else %}

    <a href="{% url 'signupuser' %}">Sign Up</a>    
    <a href="{% url 'loginuser' %}">Login</a>

{% endif %}

{% block content %}


{% endblock %}

</body>
</html>